
@import (once) "utils";
@import (once) "vars";
@import (once) "mixins";

@import "../homepage/font/freestyle-script";

#homepage{

	#masthead{
		margin-bottom: 0;
		background-color: black;
		height: 64px;
		max-height: 64px;

		.main-navigation{
			height: 100%;
			font-size: 1.1em;
		}

		#site-logo{

			img{

				width: 250px; //TODO resize on scroll
			}
		}
	}

	#hero{
		@herocolor: white;

		background-color: black;
		height: 45em;
		min-height: 45em;
		background-image: url(../homepage/img/vlcsnap-2015-10-22-12h24m21s691.png);
		background-repeat: no-repeat;
		background-position: center 64px ;
		background-size: cover ;
		padding-top: 128px;
		color: @herocolor;

		.hero-content{
			max-width: 1280px;
			margin-left: auto;
			margin-right: auto;

			text-align: center;

			.call-to-action-block{
				width: 29em;
				position: relative;
				top: 8em;
				vertical-align: baseline;

				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;

				height: 22em;

				.heroheader{
					border-color: @herocolor;
					border-top: 1px solid;
					border-bottom: 1px solid;

					span{
						margin: 0.1em;
					}

					.fl, .and{
						font-family: "Freestyle Script", cursive;
						line-height: 1.1em;
						padding-bottom: 0.1em;
					}

					.pretext{
						font-size: 1.7rem;
					}

					.fl{
						display: inline-block;
						font-size: 4.5rem;
						transform: translateY(0.05em);
					}

					.and{
						font-size: 2rem;
					}
				}

				.herobuttons{
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;
					flex-wrap: nowrap;

					.btn{
						font-size: 1.6em;
					}
				}

				.hero-subtext{
					font-size: 1.6em;

					p{
						margin: 0;
					}
				}
			}


		}
	}

	#hero.altbg{
		background-image: url(../homepage/img/vlcsnap-2015-10-06-13h03m52s229.png);
	}

}