@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

@basefont: 'Roboto', sans-serif;
@monofont: 'Source Code Pro', monospace;

@basetypesize: 1rem;

@contentbg:  fade(@cardbg, 85%);
@footerbg: #4B3D21;
@cardbg: white;
@headerbg: black;
@headercolor: white;

@linkcolor: #384780;
@textcolor: #404040;
@footercolor: #CFCBC4;
@footerlinkcolor: #E7E5E1;

@blockmargin: 56px;

@footerheight: 700px;
@subfooterheight: 36px;