@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

@basefont: 'Roboto', sans-serif;
@monofont: 'Source Code Pro', monospace;

@basetypesize: 1rem;

@maincolor: #0ACFA1;
@altcolor: #FFBD0C;
@alt2color: #D20AAF;

@contentbg:  fade(@cardbg, 85%);
@footerbg: #152b21;
@cardbg: white;
@headerbg: @maincolor;
@headercolor: white;

@linkcolor: @maincolor;
@textcolor: #404040;
@footercolor: #CEF5EC;
@footerlinkcolor: white;

@buttonbordercolor: white;
@buttonhoverbgcolor: spin(@linkcolor, 180);
@buttonbgcolor: @linkcolor;

@blockmargin: 56px;
@headheight: 42px;

@footerheight: 700px;
@subfooterheight: 36px;

@navwidth: 100px;

@bodymaxwidth: 1280px;
@contentmaxwidth: 960px;
@sidebarmaxwidth: @bodymaxwidth - @contentmaxwidth;

@contentminwidth: 600px;
@sidebarminwidth: 180px;
